<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../js/utils.js"></script>
  </head>
  <body>
    <script>
      console.log("<%= file_name %>");
      fetch(`${loc.protocol}//${loc.hostname}:${loc.port}/api/file/download/${"<%= file_name %>"}`, {
        method: "post",
        headers: {
          Authorization: token,
        }
      });
    </script>
  </body>
</html>
