<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    
    <main>
        <h2>WaterCloud - уникальная база данных с элитарной системой пользователей!</h2>
    </main>
</body>
</html>