<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <div class="top-buttons">
        <a target="_blank" href="/storage/download-all">Скачать всё</a>
        <a target="_blank" href="/storage/download-new">Скачать новое</a>
      </div>

      <div class="storage-list">
        <a href="/storage/FILEID" class="storage-file">
          <img src="/img/file_icon.png" />
          <div class="file-info">
            <h4>SOME UNIQUE ID</h4>
            <h4>Size: 10Mb</h4>
          </div>
        </a>
        <a href="/storage/FILEID" class="storage-file">
          <img src="/img/file_icon.png" />
          <div class="file-info">
            <h4>SOME UNIQUE ID</h4>
            <h4>Size: 10Mb</h4>
          </div>
        </a>
        <a href="/storage/FILEID" class="storage-file">
          <img src="/img/file_icon.png" />
          <div class="file-info">
            <h4>SOME UNIQUE ID</h4>
            <h4>Size: 10Mb</h4>
          </div>
        </a>
        <a href="/storage/FILEID" class="storage-file">
          <img src="/img/file_icon.png" />
          <div class="file-info">
            <h4>SOME UNIQUE ID</h4>
            <h4>Size: 10Mb</h4>
          </div>
        </a>
        <a href="/storage/FILEID" class="storage-file">
          <img src="/img/file_icon.png" />
          <div class="file-info">
            <h4>SOME UNIQUE ID</h4>
            <h4>Size: 10Mb</h4>
          </div>
        </a>
        <a href="/storage/FILEID" class="storage-file">
          <img src="/img/file_icon.png" />
          <div class="file-info">
            <h4>SOME UNIQUE ID</h4>
            <h4>Size: 10Mb</h4>
          </div>
        </a>
        <a href="/storage/FILEID" class="storage-file">
          <img src="/img/file_icon.png" />
          <div class="file-info">
            <h4>SOME UNIQUE ID</h4>
            <h4>Size: 10Mb</h4>
          </div>
        </a>
        <a href="/storage/FILEID" class="storage-file">
          <img src="/img/file_icon.png" />
          <div class="file-info">
            <h4>SOME UNIQUE ID</h4>
            <h4>Size: 10Mb</h4>
          </div>
        </a>
      </div>
    </main>
  </body>
</html>
