<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    
</head>
<body>
    <%- include('partials/header') %>
    

    <main>
        <div class="subscription-form">
            <div class="title-container">
                <h2 class="title">Выберите тариф</h2>
            </div>

            <div class="options">
                <div class="option option-first"><h2>Месячный</h2></div>
                <div class="option option-second"><h2>3-х месячный</h2></div>
                <div class="option option-third"><h2>Годовой</h2></div>
            </div>

            <div class="button-pay"><h2>Оплатить</h2></div>
        </div>
    </main>

    <script>
        let amount = '';
        let first = document.querySelector('.option-first');
        let second = document.querySelector('.option-second');
        let third = document.querySelector('.option-third');

        first.addEventListener('click', () => {
            first.classList.add('active');
            second.classList.remove('active');
            third.classList.remove('active');
            amount = '1';
        });

        second.addEventListener('click', () => {
            first.classList.remove('active');
            second.classList.add('active');
            third.classList.remove('active');
            amount = '2';
        });

        third.addEventListener('click', () => {
            first.classList.remove('active');
            second.classList.remove('active');
            third.classList.add('active');
            amount = '3';
        });

        document.querySelector('.button-pay').addEventListener('click', () => {
            fetch(`${loc.protocol}//${loc.hostname}:${loc.port}/api/user/genlink`, {
                method: 'post',
                headers: {
                    "Content-Type": "application/json",
                    Authorization: token
                },
                body: JSON.stringify({ amount })
            })
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                    loc.replace(data.url);
                });
        });
    </script>
</body>
</html>