<header>
    <div class="logo-container">
        <img src="/img/logo.png">
        <a href="/"><h1>Water<span class="cloud-colored">Cloud</span></h1></a>
    </div>

    <nav class="nav-links">
        <a href="/storage.html">Хранилище</a>
        <a href="/subscription.html">Подписка</a>
        <a href="/login.html">Войти</a>
        <a href="/logout">Выйти</a>
    </nav>
</header>