@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 2rem 10%;
    font-family: 'Roboto', sans-serif;
}

.subscription-form {
    margin: 1rem auto;
    height: 400px;
    width: 300px;
    border: 2px solid #639bc2;
    border-radius: 1rem;
    text-align: center;
    color: #7c7c7c;
}

.subscription-form .title-container {
    margin: 1rem 0;
    border-bottom: 2px solid #639bc2;
}

.subscription-form .title-container .title {
    margin-bottom: 1rem;
}

.subscription-form .options {
    padding: 0.5rem 0;
}

.subscription-form .options .option {
    margin: 1rem auto;
    cursor: pointer;
    color: white;
    width: 200px;
    padding: 0.5rem;
    background-color: #639bc2;
    border-radius: 5px;
}

.subscription-form .options .option.active {
    transition: 200ms;
    transform: scale(1.2);
    border: 1px solid #639bc2;
    background-color: #7ab9e4;
}

.subscription-form .button-pay {
    text-transform: uppercase;
    cursor: pointer;
    background-color: #a5cde9;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    width: 200px;
    margin: 1rem auto;
}

.subscription-form .button-pay.active {
    background-color: #7ab9e4;
    box-shadow: 0 0 10px #7ab9e4;
}











.top-buttos {
    padding-top: 1rem;
    display: flex;
}

.top-buttons a {
    margin: 0 1rem;
    background-color: #639bc2;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
}

.storage-list {
    display: flex;
    flex-wrap: wrap;
}

.storage-list .storage-file {
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 300ms;
    border-radius: 5px;
    margin: 2.5% 2.5%;
    width: 20%;
    height: 30%;
    cursor: pointer;
    text-align: center;
}

.storage-list .storage-file:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.storage-list .storage-file img {
    width: 100%;
}

.storage-list .storage-file .file-info {
    padding: 2px 16px;
}

.login-form {
    margin: 1rem auto;
    height: 320px;
    width: 300px;
    border: 2px solid #639bc2;
    border-radius: 1rem;
    text-align: center;
    color: #7c7c7c;
}

.login-form .title-container {
    margin: 1rem 0;
    border-bottom: 2px solid #639bc2;
}

.login-form .title-container .title {
    margin-bottom: 1rem;
    color: black;
}

.login-form form {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.login-form form .input {
    padding: 0.5rem 0;
    margin: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
    text-indent: 16px;
}

.login-form form .submit-button {
    margin: 1rem 5rem 0 5rem;
    padding: 0.3rem 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 200ms;
}

.login-form form .submit-button:hover {
    background-color: black;
    color: white;
}

.login-form .switch-to-register {
    font-size: small;
    transition: color 200ms;
    color: #7c7c7c;
}

.login-form .switch-to-register:hover {
    color: black;
}













.register-form {
    margin: 1rem auto;
    height: 380px;
    width: 300px;
    border: 2px solid #639bc2;
    border-radius: 1rem;
    text-align: center;
    color: #7c7c7c;
}

.register-form .title-container {
    margin: 1rem 0;
    border-bottom: 2px solid #639bc2;
}

.register-form .title-container .title {
    margin-bottom: 1rem;
    color: black;
}

.register-form form {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.register-form form .input {
    padding: 0.5rem 0;
    margin: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
    text-indent: 16px;
}

.register-form form .submit-button {
    margin: 1rem 5rem 0 5rem;
    padding: 0.3rem 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 200ms;
}

.register-form form .submit-button:hover {
    background-color: black;
    color: white;
}

.register-form .switch-to-login {
    font-size: small;
    transition: color 200ms;
    color: #7c7c7c;
}

.register-form .switch-to-login:hover {
    color: black;
}








.users {
    display: flex;
    flex-wrap: wrap;
}

.users .user-link {
    color: #7c7c7c;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition: 300ms;
}

.users .user-link:hover {
    background-color: #7c7c7c;
    color: white;
}








.user-info {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem auto 2rem 1rem;
    max-width: 300px;
    color: black;
}

.download-unique {
    color: black;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    transition: 300ms;
}

.download-unique:hover {
    color: white;
    background-color: black;
}

.ban-user {
    margin: 0 0 0 1rem;
    color: red;
    border: 1px solid red;
    padding: 1rem;
    border-radius: 5px;
    transition: 300ms;
}

.ban-user:hover {
    color: white;
    background-color: red;
}











.upload-form {
    margin: 1rem 0;
}